body {
  margin: 20px;
  background-color: blanchedalmond;
}

.App {
  text-align: center;
}


.header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: rgb(66, 38, 187);
}
#update-img {
margin-top: 10%;
border: green solid 5px;
border-radius: 20px;
height: 35vh;
width: 50vh;
}

button {
  margin: 10px;
  padding: 5px;
}

.search {
  /* width: auto; */
  font-size: 20px;
}

.newPage {
  margin-top: 70px;
  padding: 10px;
  border: 2px solid burlywood;
  box-shadow: 5px 3px 5px 3px lightgray  ;
  color: blue;
  cursor: pointer;
  font-size: 15px;

}

.form {
  border: 2px solid lightgreen;
  box-shadow: 5px 3px 5px 3px lightgray  ;
  margin: 80px;
  width: 400px;
  margin-left: 30%;
}

.form-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  text-align: left;
  width: 400px;
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  
}

.update-dog {
  
  width: 200px;
  padding: 10px;
  border: 2px solid burlywood;
  box-shadow: 5px 3px 5px 3px lightgray  ;
  color: blue;
  cursor: pointer;
  font-size: 15px;

}

.button {
  margin: 30px;
  padding: 20px;
}

.input2 {
  width: 180px;
  height: 15px;
}
.input3 {
  width: 185px;
  height: 15px;
}
.input4 {
  width: 140px;
  height: 15px;
}
.input5 {
  width: 200px;
  height: 15px;
}
.input {
  width: 210px;
  height: 15px;
}
.link {
  margin: 50px;
}

.home {
  font-size: 20px;
  color: rgba(25, 0, 255, 0.582);
}

.alldogs {
  font-size: 20px;
  color: magenta;
}
